{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main">
  <div class="container-fluid">
{{/* ======================================== */}}

<div class="row">

  <div class="col-xs-12 doc-overview">
    <main role="main">
      <div class="doc-list-header">
          <h1>{{ if .Params.product }} {{ .Params.product }} {{ else }}{{ .Title }}{{ end }}</h1>
          </div>
          <div class="row">
            <div class="col-xs-12">
            {{ if ne .Section "resources" }}
          <h2 class="mt1 mb2">Answers to common questions about {{ title .Section }}</h2>
          {{ else }}
          <h2 class="mt1 mb2">Learn. Connect. Grow.</h2>
          {{ end }}
          </div></div>
          <div class="row">
              <div class="col-xs-12">
                <ul class="mt0 pt0" id="list">
                {{ range .Data.Pages }}
                  {{ .Render "li"}}
                {{ end }}
                </ul>
            </div>
          </div>
  </main>
  </div> <!-- /.doc-overview -->

</div>{{/* /.row */}}

{{/* ======================================== */}}
  </div>
</div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
