{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main">
  <div class="container-fluid">
{{/* ======================================== */}}

<div class="row">
  <div class="col-xs-12 doc-overview">
    <main role="main">
      <div class="doc-list-header">
        <h1>Plugin FAQs</h1>
      </div>
      <div class="article-content content article">

          <p>This page lists the documentation and answers to common questions about our plugin products.</p>
          <p><b>Licensing and purchasing FAQs</b> are <a href="/sales/">here</a>.</p>
          <p><b>Documentation</b> is <a href="https://docs.balsamiq.com/">here</a>.</p>

          <hr />
          <h4 id="gdrive">Balsamiq Wireframes for Google Drive FAQs</h4>

          <ul>
              <li><a href="/plugins/maximumrevisions/">"Maximum Number of Pinned Revisions Exceeded" Error in Balsamiq Wireframes for Google Drive</a></li>
              <li><a href="/plugins/gapinotdefined/">"ReferenceError: Gapi Is Not Defined" Error in Balsamiq Wireframes for Google Drive</a></li>
          </ul>

          <hr />
          <h4 id="wireframes-atlassian">Atlassian Add-on FAQs</h4>

          <ul>
              <li><a href="/plugins/updatingconfluence">Updating from Old Versions of Confluence Server</a></li>
              <li><a href="/plugins/multiplemockups/">How Can I Display Multiple Wireframes or Projects on a Single Confluence Page?</a></li>
              <li><a href="/plugins/noprojectdraft/">Unable to Save Project to Draft Page in Confluence</a></li>
              <li><a href="/plugins/noprojectviewer/">My Project Viewer Is No Longer Displaying</a></li>
              <li><a href="/plugins/multipleconfluencepages/">How Can I Display My Project Wireframes on Multiple Confluence Pages?</a></li>
          </ul>

          <hr />
      </div>

            </div>
          </main>
        </div>


        </div>
      </div>

      </div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
