{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main">
  <div id="ui101" class="container-fluid">
{{/* ======================================== */}}

<div class="row">
  <div class="col-xs-12 doc-overview">
    <main role="main">
      <div class="doc-list-header pb10">
        <h1>UI Design 101</h1>
      </div>
      <div class="container mt0">

{{ .Content }}

{{ if .Page.Params.parent }}

{{ else }}
{{ $.Scratch.Set "counter" 1 }}
<div class="row mb1-5">
  {{ range first 3 (where .Data.Pages.ByWeight ".Params.parent" "=" nil) }}
  <div class="col-xs-12 col-md-4 center">
      <a href="{{ .Permalink }}" class="thumbnail mb10 p10"><img src="https://media.balsamiq.com/img/support/ui101/thumbnails/{{ .File.BaseFileName }}.png"></a><h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
  </div>
  {{ $.Scratch.Add "counter" 1 }}
  {{ end }}
</div>
<div class="row mt1-5">
  {{ range first 3 (after 3 (where .Data.Pages.ByWeight ".Params.parent" "=" nil)) }}
  <div class="col-xs-12 col-md-4 center">
      <a href="{{ .Permalink }}" class="thumbnail mb10 p10"><img src="https://media.balsamiq.com/img/support/ui101/thumbnails/{{ .File.BaseFileName }}.png"></a><h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
  </div>
  {{ $.Scratch.Add "counter" 1 }}
  {{ end }}
</div>

{{ end }}

    </main>
  </div> <!-- /.doc-overview -->

</div>{{/* /.row */}}

{{/* ======================================== */}}
  </div>
</div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
