{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main">
  <div id="ui101" class="container-fluid">
{{/* ======================================== */}}

<div class="row">
  <div class="col-xs-12 doc-overview">
    <main role="main">
      <div class="doc-list-header">
        <h1>UI Design 101</h1>
      </div>
      <div class="row">
        <div class="col-xs-12 tcenter">
        <h2 class="mt10 mb1">Learn user interface design, one element at a time. </h2>
            {{/* <p>Each article below explains how and when to use the building blocks of UI to create great experiences. Updated regularly.</p> */}}
        </div>
      </div>
      <div id="filterlist" class="row gallery">
      {{ range .Data.Pages.ByWeight }}
          <div class="fitem col-xs-12 col-sm-6 col-md-3">
            <div class="gallery-item">
            <a href="{{ .Permalink }}"><img src="http://media.balsamiq.com/img/support/tutorials/ui101/thumb-{{ .File.BaseFileName }}.png"></a><div class="meta"><h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3><p>{{ .Summary | plainify | htmlUnescape }}</p>
          </div></div>
      </div>
      {{ end }}
      </div>
  <div class="row mt1">
        <div class="col-xs-12">
          <h4>For even more inspiration and references, check out our list of <a href="https://balsamiq.com/learn/resources/reference/ui-guidelines/">UI Guidelines</a> and <a href="https://balsamiq.com/learn/inspiration/ui-galleries/">UI Galleries</a>.</h4>
        </div>
      </div>

    </main>
  </div> <!-- /.doc-overview -->

</div>{{/* /.row */}}

{{/* ======================================== */}}
  </div>
</div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
