{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main">
  <div id="ui101" class="container-fluid">
{{/* ======================================== */}}

<div class="row">
  <div class="col-xs-12 doc-overview">
    <main role="main">
      <div class="doc-list-header">
        <h1>UI Design 101</h1>
      </div>

{{ .Content }}

{{ if .Page.Params.parent }}

{{ else }}
<div class="row">
  {{ range first 3 (where .Data.Pages.ByWeight ".Params.parent" "=" nil) }}
  <div class="col-xs-12 col-md-4">
<div class="list-group">
      <h4><a href="{{ .Permalink }}" class="list-group-item text-center pb1-5 pt1-5"><img src="http://via.placeholder.com/250x175"><br>{{ .Title }}</a></h4>
<!--             <p>{{ .Summary }}</p> -->
</div>
  </div>
  {{ end }}
</div>
<div class="row">
  {{ range first 3 (after 3 (where .Data.Pages.ByWeight ".Params.parent" "=" nil)) }}
  <div class="col-xs-12 col-md-4">
<div class="list-group">
      <h4><a href="{{ .Permalink }}" class="list-group-item text-center pb1-5 pt1-5"><img src="http://via.placeholder.com/250x175"><br>{{ .Title }}</a></h4>
<!--             <p>{{ .Summary }}</p> -->
</div>
  </div>
  {{ end }}
</div>

{{ end }}

  {{/* <ul>
  {{ range .Data.Pages.ByWeight }}
    <li><a href="{{ .Permalink }}">{{.Title}}</a></li>
  {{ end }}
  </ul> */}}

{{/* {{ range .Sections }}
      <div id="filterlist" class="row gallery">
      {{ range .Data.Pages.ByWeight }}
          <div class="fitem col-xs-12 col-sm-6 col-md-3">
            <div class="gallery-item">
            <a href="{{ .Permalink }}"><img src="http://media.balsamiq.com/img/support/tutorials/ui101/thumb-{{ .File.BaseFileName }}.png"></a><div class="meta"><h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3><p>{{ .Summary | plainify | htmlUnescape }}</p>
          </div></div>
      </div>
      {{ end }}
      </div>
{{ end }} */}}

    </main>
  </div> <!-- /.doc-overview -->

</div>{{/* /.row */}}

{{/* ======================================== */}}
  </div>
</div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
