{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main">
  <div class="container-fluid">
{{/* ======================================== */}}

<div class="row">

  <div class="local-nav local-nav-1 hidden-xs hidden-sm col-md-3">
    <div id="sidebar-box">
		{{ partial "sidebar-ui101.html" . }}
    {{ partial "sidebar_inpage.html" . }}
    </div>
  </div>

  <div id="page-article" class="col-xs-12 col-md-9">
    <div id="support-main">
      <div class="support-body">
        <article>
          <h1 class="title">{{ .Title }}</h1>
          <div class="breadcrumbs visible-xs visible-sm">{{ partial "breadcrumbs.html" . }}</a></div>
          <div class="article-content content article">
            {{ .Content }}
            {{ if eq .File.TranslationBaseName "controls"}}
            <div id="filterlist" class="row gallery" style="max-width:1000px;margin:0 auto;">
              {{ range where .Site.Pages "Section" "ui101" }}
              {{ if eq .File.Dir "ui101/controls/" }}
                {{/* {{ .Render "li"}} */}}
                         <div class="fitem col-xs-12 col-sm-6 col-md-4">
                           <div class="gallery-item">
                           <a href="{{ .Permalink }}"><img src="http://media.balsamiq.com/img/support/tutorials/ui101/thumb-{{ .File.BaseFileName }}.png"></a><div class="meta"><strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong><p>{{ .Summary | plainify | htmlUnescape }}</p>
                         </div></div>
                     </div>
              {{ end }}
              {{ end }}
              </div>
              {{ else if eq .File.TranslationBaseName "principles"}}
                {{ range where .Site.Pages "Section" "ui101" }}
                {{ if eq .File.Dir "ui101/principles/" }}
                  {{ .Render "li"}}
                {{ end }}
                {{ end }}
            {{ end }}
          </div>

          <hr>
          <nav class="section-pager">
            <ul class="pager">
              <li class="previous">
              {{ if .NextInSection }}
                <a href="{{.NextInSection.Permalink}}"><span aria-hidden="true">&larr;</span> {{.NextInSection.Title}}</a>
              {{ end }}
              </li>
              <li class="next">
								{{ if .PrevInSection }}
								<a href="{{.PrevInSection.Permalink}}">{{.PrevInSection.Title}} <span aria-hidden="true">&rarr;</span></a>
								{{ end }}
              </li>
            </ul>
          </nav>
          <hr>
          <span class="gray t36">
          <a href="https://twitter.com/intent/tweet/?text={{ .Title }}&url={{ .Permalink }}&via=balsamiq" target="_blank" class="js-social-share"><i class="ss-icon ss-social-circle red">&#xF611;</i></a>
          <a href="https://www.facebook.com/share.php?u={{ .Permalink }}" target="_blank" class="js-social-share"><i class="ss-icon ss-social-circle red">&#xF610;</i></a>
          <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}" target="_blank" class="js-social-share"><i class="ss-icon ss-social-circle red">&#xF612;</i></a></span>
<span class="pull-right"><a href="https://github.com/balsamiq/support.balsamiq.com/blob/master/content{{ substr .RelPermalink 0 -1 }}.md" target="_blank"><i class="ss-icon ss-social-circle ss-github" aria-hidden="true"></i> Edit this page</a></span>
         </article>
      </div>
    </div>
  </div><!-- /.support-main -->

</div> <!-- /.row -->

{{/* ======================================== */}}
  </div>
</div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{/* Initialize gifplayer (http://rubentd.com/gifplayer/) for images with alt text set to "gif" */}}
<script>
			$(document).ready( function(){
				$("img[alt='gif']").gifplayer({ label: 'Play' });
			});
</script>

{{ partial "footer.html" . }}
