<div id="breadcrumbs">
  <span><a href="/">home</a></span>
{{ if .Params.product }}
{{ if .Params.parent }}
&gt; <span><a href='../../'>{{ .Params.product }}</a></span>
&gt; <span><a href='../'>{{ .Params.parent | title }}</a></span>
{{ else }}
  &gt; <span><a href='../'>{{ .Params.product }}</a></span>
{{ end }}
{{ else }}
  &gt; <span><a href='/{{ .Section | urlize }}'>{{ .Section | humanize }}</a></span>
{{ end }}
  &gt; <span>{{ .Title | title }}</span>
</div>

<!-- old breadcrumb code -->

{{/* {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}
<div id="breadcrumbs">
  <span><a href="/">home</a></span>
  {{ $.Scratch.Add "path" "/" }}
  {{ range $index, $element := split $url "/" }}
  {{ $.Scratch.Add "path" $element }}
  {{ if ne $element "" }}
  &gt; <span><a href='{{ $.Scratch.Get "path" }}'>{{ . }}</a></span>
  {{ $.Scratch.Add "path" "/" }}
  {{ end }}
  {{ end }}
</div> */}}
