{{/* LEFT SIDEBAR */}}
{{ if eq .Section "sales" }}
<a href="../">Licensing &amp; Purchasing FAQs</a>
{{ else if eq .Section "plugins" }}
<a href="../">Plugin FAQs</a>
{{ else }}
{{ $currentNode := . }}
{{ $thisSection := .Params.menu }}
<h5><a href="#" data-toggle="collapse" data-target="#doc-menu" aria-expanded="false" aria-controls="doc-menu" class="menu-toggle"><i class="ss-icon ss-navigateright"></i> {{ .Params.product }}</a></h5>
<ul id="doc-menu" class="collapse">
  {{ range (index .Site.Menus $thisSection) }}
  <li{{if $currentNode.IsMenuCurrent $thisSection . }} class="active"{{end}}><a href="{{.URL}}"> {{ .Name }} </a> </li>
    {{ end }}
</ul>
{{ end }}
